* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Varela', sans-serif;
  font-family: 'Varela Round', sans-serif;
}

.link {
  text-decoration: none;
  color: inherit;
}